<div>

    <h2 translate="cmsApp.personnel.home.title">Personnels</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="personnel.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cmsApp.personnel.home.createLabel">Create a new Personnel</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Personnel</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePersonnelConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(personnel.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cmsApp.personnel.delete.question" translate-values="{id: '{{personnel.id}}'}">Are you sure you want to delete this Personnel?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="cmsApp.personnel.matricule">Matricule</th>
                    <th translate="cmsApp.personnel.nom">Nom</th>
                    <th translate="cmsApp.personnel.prenom">Prenom</th>
                    <th translate="cmsApp.personnel.direction">Direction</th>
                    <th translate="cmsApp.personnel.age">Age</th>
                    <th translate="cmsApp.personnel.sexe">Sexe</th>
                    <th translate="cmsApp.personnel.type">Type</th>
                    <th translate="cmsApp.personnel.famille">Famille</th>
                    <th translate="cmsApp.personnel.groupeSanguin">GroupeSanguin</th>
                    <th translate="cmsApp.personnel.infosCompl">InfosCompl</th>
                    <th translate="cmsApp.personnel.allergie">Allergie</th>
                    <th translate="cmsApp.personnel.statut">Statut</th>
                    <th translate="cmsApp.personnel.conjoint">conjoint</th>
                    <th translate="cmsApp.personnel.enfant">enfant</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="personnel in personnels">
                    <td><a ui-sref="personnel.detail({id:personnel.id})">{{personnel.id}}</a></td>
                    <td>{{personnel.matricule}}</td>
                    <td>{{personnel.nom}}</td>
                    <td>{{personnel.prenom}}</td>
                    <td>{{personnel.direction}}</td>
                    <td>{{personnel.age}}</td>
                    <td>{{personnel.sexe}}</td>
                    <td>{{personnel.type}}</td>
                    <td>{{personnel.famille}}</td>
                    <td>{{personnel.groupeSanguin}}</td>
                    <td>{{personnel.infosCompl}}</td>
                    <td>{{personnel.allergie}}</td>
                    <td>{{personnel.statut}}</td>
                    <td>
                        <a ui-sref="conjoint.detail({id:personnel.conjoint.id})">{{personnel.conjoint.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="enfant.detail({id:personnel.enfant.id})">{{personnel.enfant.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="personnel.detail({id:personnel.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="personnel.edit({id:personnel.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(personnel.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
